{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Gym Equipment</title>
    <link rel="stylesheet" href="{% static 'inventory/styles.css' %}">
</head>
<body>
    <h1>Our Gym Equipment</h1>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% endif %}
                <p>{{ product.description }}</p>
                <p><strong>€{{ product.price }}</strong></p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
